

html, body
	margin: 0
	padding: 0
	width: 100%
	background: white
	overflow-x: hidden
	font-family: $font-premier

a
	text-decoration: none

ul, li, p, h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

ul, li, p
	list-style: none

*, *:before, *:after
	box-sizing: inherit
