

@media all and (max-width:1680px)	
	header > .cu-logo > img
		+rem(height, 70px)
		width: auto


.nav-menu .menu > .level0 > .menu-item
	@media (max-width: 1150px)
		+rem(font-size, 24px)

	&:before
		@media (max-width: 1300px)
			+rem(right, -20px)

		@media (max-width: 1200px)
			+rem(right, -15px)

		@media (max-width: 1100px)
			+rem(right, -10px)



// @media (max-width:1300px)
// @media (max-width:1000px)
@media (max-width:$mobile-breakpoint)

	.show-underlay
		#click-trap-underlay
			display: none

	header, .nav-menu
		+rem(height, $mobile-nav-height)

		width: 100%

	header
		.login-button, .cu-logo
			+transition(opacity 0.3s)
			opacity: 1


		& > .back-button
			display: inline-block
			position: absolute
			opacity: 0
			left: 10px
			// top: 32px
			top: 0
			bottom: 0
			height: 10px
			margin: auto
			padding: 5px
			font-size: (10px/16px)*1rem !important
			pointer-events: none

			+transition(0.3s)

			&:before
				content: $icon-arrow-thin
				display: inline-block
				position: relative
				font-family: 'cu'
				color: black
				// +rem(font-size, 24px)
				font-size: inherit
				+rotateZ(180deg)


	.mobile-panel-open
		header
			.login-button, .cu-logo
				opacity: 0
				pointer-events: none

			& > .back-button
				opacity: 1
				pointer-events: all

	.nav-menu .menu
		width: 100%

	.nav-menu > .desktop-only
		display: none
	.nav-menu > .mobile-only
		display: block

	// .nav-menu > .desktop-only > .menu
	// 	display: block
		
	// .nav-menu > .desktop-only > .menu .level0
	// 	display: block
	// 	width: 100%
		
	// .nav-menu > .desktop-only > .menu .submenu
	// 	display: none

	#content
		+rem(margin-top, $mobile-nav-height)
		


@media (max-width: $mobile-breakpoint)
	header .cu-logo
		left: 0

		& > img
			+rem(height, 40px)
			width: auto

		
	header 
		.cu-logo, .login-button
			+rem(top, 5px)

		.login-button
			right: 0

		// .mobile-menu
		// 	max-height: 1000px

	// header .nav-menu > .menu
	// 	display: none