@media (max-width:$mobile-breakpoint)
	.f24
		+rem(font-size, 12px)

	.f28
		+rem(font-size, 14px)

	.f48
		+rem(font-size, 24px)
		+rem(line-height, 30px)

	.f64
		+rem(font-size, 32px)


	.morris-tooltip
		display: none

	

	.video-thumb
		// display: inline-block
		// position: relative
		// z-index: 1
		// +rem(margin-bottom, 40px)
		// cursor: pointer
		// font-size: 0
		max-width: calc(100% - 15px)

		// img
		// 	max-width: 100%

		&:after
			// content: ''
			// display: block
			// position: absolute
			// width: 100%
			// height: 100%
			// z-index: -1
			+rem(left, 15px)
			+rem(top, 15px)
			// background: url('../img/video-pattern.jpg')

	.video-button
		// display: block
		// position: absolute
		+rem(width, 40px)
		+rem(height, 40px)
		// left: 0
		// right: 0
		// top: 0
		// bottom: 0
		// margin: auto
		// cursor: pointer

		// background-color: $color-black
		// +border-radius(100px)

		&:before
			// content: ''
			// display: block
			// position: absolute
			+rem(left, -15px)
			+rem(top, -15px)
			+rem(border-width, 5px)
			// border-style: solid
			// border-color: white
			+rem(width, 60px)
			+rem(height, 60px)
			// +border-radius(100px)


		&:after
			// content: $icon-play_button
			// display: inline-block
			width: 110%
			// text-align: center
			// font-family: 'cu'
			+rem(font-size, 18px)
			+rem(line-height, 40px)
			// color: white




.desktop-only
	@media (max-width:$mobile-breakpoint)
		display: none


.mobile-only
	@media (max-width:$mobile-breakpoint)
		display: block
