


footer
	.bg
	.fg
		ul.social-icons
			li.item
				a.icon.fb(href='#')
			li.item
				a.icon.instagram(href='#')
			li.item
				a.icon.snapchat(href='#')
			li.item
				a.icon.youtube(href='#')
		ul.links
			li.link
				a(href='#') Όροι χρήσης
			li.link
				a(href='#') Cookies Policy
			li.link
				a(href='#') Info Point
		.center
			a.logo(href='#')
				img(src='img/cu-logo.png')
			form(action='#' method='POST')
				.title Newsletter
				.detail
					p Για να μην τα μαθαίνεις από αλλού, βάλε τα στοιχεία σου και εμείς θα σου στέλνουμε όλα τα CU νέα, πριν από τους άλλους!
				.line.field
					input(type='text' name='email' required)
					label.movable(for='email') e-mail
				.line
					input(type='submit' name="newsletter" value="Εγγραφή")

		.copyright (c) 2016 CU
		.lang-switch
			.eng Browse in <a href="#"> English</a>
			.el Περιηγηθήτε στα <a href="#"> Ελληνικά</a>




#package-activation-flow.panel.layer-4
	.nav-header.mobile-only
		.title Ενεργοποίηση Πακέτου
		.back-button

	.panel-content
		.background
		.main-area

			.title Ενεργοποίηση Πακέτου
			.subtitle Surf &amp; Email 100
			.price &euro;5,04

		.normal-case.case
			.detail 
				p Τώρα έχεις <b>500ΜΒ Βonus</b> ενεργοποιόντας με αυτόματη ανανέωση
			.choices
				.choice.first
					.text: p Θέλεις να ανανεώνεται αυτόματα κάθε μήνα;
					a.action-button
						.text Μηνιαία Ανανέωση
						.icon-arrow-head
				.divider ή
				.choice.last
					.text: p Θέλεις να ενεργοποιήσεις μόνο για αυτή τη φορά;
					a.action-button
						.text Απλή Ενεργοποίηση
						.icon-arrow-head

		.warning-case.case
			.warning-sign
				
			.detail 
				p To απόλοιπό σου δεν είναι αρκετό για να ενεργοποιήσεις το πακέτο <b>Surf &amp; Email 100</b>
				p Tώρα έχεις <span>€3,96</span> διαθέσιμο υπόλοιπο

			.choices
				.choice.first
					//- .text Θέλεις να ανανεώνεται αυτόματα κάθε μήνα;
					a.action-button
						.text Κάνε Online Ανανέωση
						.icon-arrow-head
				.divider ή
				.choice.last
					.text
						p Κάλεσε στο <b>1252</b> επιλογή <b>4</b>  ή στείλε δωρεάν <b>SMS</b> στο <b>1330</b> για <b>επέκταση υπολοίπου</b>.
					a.action-button
						.text OK
						.icon-arrow-head

					.learn-more
						a(href="#") Μάθε περισσότερα

		.thankyou-case.case
			.detail 
				p H ενεργοποίηση πακέτου <b>Surf &amp; Email 100</b>
				p ολοκληρώθηκε με επιτυχία!
			.divider
			.detail 
				p Το νέο σου υπόλοιπο είναι <span>€1,04</span>

			a.see-more(href="#") Δες περισσότερα στο <b>MyCU</b>

		.loading-case.case
			.loader
				.spinner


//- #menu-underlay

#click-trap-underlay


#gallery-underlay
	.close-button
	.gallery-list
	.gallery-slide-count
		.current
		span  / 
		.total
	.thumbnail-list
		



//- script(src="js/vendor/jquery-1.12.4.min.js")
script(src="js/vendor/jquery-2.2.4.min.js")
script(src="js/debounce.js")
script(src="js/browser.js")
//- script(src="js/vendor/history.js")
//- script(src="js/vendor/history.adapter.jquery.js")
//- script(src="js/vendor/truncate.min.js")
script(src="js/vendor/jquery.dotdotdot.min.js")
//- script(src="js/vendor/slick.min.js")
script(src="js/slick.js")
script(src="js/vendor/TweenMax.min.js")
script(src="js/vendor/ScrollToPlugin.js")
//- script(src="js/vendor/Chart.min.js")

//- Alternative Chart lib
script(src="js/vendor/raphael-2.2.1.min.js")
//- script(src="js/vendor/morris.min.js")
script(src="js/vendor/morris.js")


script(src="js/vendor/jquery.gray.min.js")
	
//- script(src="js/vendor/validate.js")
script(src="js/js.cookie.js")

	
//- script(src="js/tooltipster.bundle.min.js")
script(src="js/common.js")
script(src="js/package-activation.js")

