


footer
	.bg
	.fg
		ul.social-icons
			li.item
				a.icon.fb(href='#')
			li.item
				a.icon.instagram(href='#')
			li.item
				a.icon.snapchat(href='#')
			li.item
				a.icon.youtube(href='#')
		ul.links
			li.link
				a(href='#') Όροι χρήσης
			li.link
				a(href='#') Cookies Policy
			li.link
				a(href='#') Info Point
		.center
			a.logo(href='#')
				img(src='img/cu-logo.png')
			form(action='#' method='POST')
				.title Newsletter
				.detail
					p Για να μην τα μαθαίνεις από αλλού, βάλε τα στοιχεία σου και εμείς θα σου στέλνουμε όλα τα CU νέα, πριν από τους άλλους!
				.line.field
					input(type='text' name='email' required)
					label.movable(for='email') e-mail
				.line
					input(type='submit' name="newsletter" value="Εγγραφή")

		.copyright (c) 2016 CU
		.lang-switch
			.eng Browse in <a href="#"> English</a>
			.el Περιηγηθήτε στα <a href="#"> Ελληνικά</a>



//- #menu-underlay

#click-trap-underlay



script(src="js/vendor/jquery-1.12.4.min.js")
script(src="js/debounce.js")
script(src="js/browser.js")
script(src="js/vendor/history.js")
script(src="js/vendor/history.adapter.jquery.js")
//- script(src="js/vendor/truncate.min.js")
script(src="js/vendor/jquery.dotdotdot.min.js")
//- script(src="js/vendor/slick.min.js")
script(src="js/slick.js")
script(src="js/vendor/TweenMax.min.js")
script(src="js/vendor/ScrollToPlugin.js")
//- script(src="js/vendor/validate.js")
script(src="js/js.cookie.js")

	
//- script(src="js/tooltipster.bundle.min.js")
script(src="js/common.js")