header
	a.cu-logo(href='/')
		img(src="img/cu-logo.png")
	nav.nav-menu
		.submenu-drawer
		.desktop-only
			ul.menu.columns
				li.level0
					a.menu-item ΠΑΚΕΤΑ
					ul.submenu
						li.level1: a(href="#").submenu-item.h2 Data
						li.level1: a(href="#").submenu-item.h2 Ομιλία
						li.level1: a(href="#").submenu-item.h2 SMS
						li.level1: a(href="#").submenu-item.h2 International
						li.level1: a(href="#").submenu-item.h2 Προσφορές
				li.level0
					a.menu-item(href='#') ΥΠΗΡΕΣΙΕΣ <span>CU</span>
					//- .submenu-wrapper
					ul.submenu
						li.level1: a(href='#').submenu-item.h2 Data
						//- li.level1: a(src="#").submenu-item Ομιλία
						//- li.level1: a(src="#").submenu-item SMS
						//- li.level1: a(src="#").submenu-item International
						li.level1: a(href='#').submenu-item.h2 Προσφορές
				li.level0
					a.menu-item(href='#') ONLINE ANANΕΩΣΗ
					//- ul.submenu
					//- 	li.level1: a(src="#").submenu-item Data
					//- 	li.level1: a(src="#").submenu-item Ομιλία
					//- 	li.level1: a(src="#").submenu-item SMS
					//- 	li.level1: a(src="#").submenu-item International
				li.level0
					a.menu-item(href='#') ΦΟΙΤΗΤΕΣ
					//- ul.submenu
					//- 	li.level1: a(src="#").submenu-item Data
					//- 	li.level1: a(src="#").submenu-item Ομιλία
					//- 	li.level1: a(src="#").submenu-item SMS
					//- 	li.level1: a(src="#").submenu-item International
					//- 	li.level1: a(src="#").submenu-item Προσφορές
				li.level0
					a.menu-item(href='#') <span>CU</span> EVENTS
					//- ul.submenu
						//- li.level1: a(src="#").submenu-item Data
						//- li.level1: a(src="#").submenu-item Ομιλία
						//- li.level1: a(src="#").submenu-item SMS
						//- li.level1: a(src="#").submenu-item International
						//- li.level1: a(src="#").submenu-item Προσφορές
				li.level0
					a.menu-item(href='#') <span>CU</span> AROUND
					//- ul.submenu
						//- li.level1: a(src="#").submenu-item Data
						//- li.level1: a(src="#").submenu-item Ομιλία
						//- li.level1: a(src="#").submenu-item SMS
						//- li.level1: a(src="#").submenu-item International
						//- li.level1: a(src="#").submenu-item Προσφορές
		.mobile-only.menu-button
			.burger
				.line
		.mobile-only.mobile-menu
			ul.menu
				li.level0
					a.menu-item(href='#') ΠΑΚΕΤΑ
				li.level0
					a.menu-item(href='#') ΥΠΗΡΕΣΙΕΣ <span>CU</span>
				li.level0
					a.menu-item(href='#') ONLINE ANANΕΩΣΗ
				li.level0
					a.menu-item(href='#') ΦΟΙΤΗΤΕΣ
				li.level0
					a.menu-item(href='#') <span>CU</span> EVENTS
				li.level0
					a.menu-item(href='#') <span>CU</span> AROUND
			ul.social-icons.columns
				li.item.col
					a.icon.fb(href='#')
				li.item.col
					a.icon.instagram(href='#')
				li.item.col
					a.icon.snapchat(href='#')
				li.item.col
					a.icon.youtube(href='#')

	.login-button
		.login-msg
			p ΕΙΣΟΔΟΣ ΣΤΟ
			p my<span>CU</span>
		.mobile-login-msg
			p Είσοδος
		.close
			.icon
		.welcome-msg
			.msg-wrapper
				p Good to CU
				p.name Konstantinos
				.down-arrow
			.mobile-msg-wrapper
				p my <span>CU</span>
			ul.submenu
				li.submenu-item
					a(href='#') Overview
				li.submenu-item
					a(href='#') Ενεργά Πακέτα
				li.submenu-item
					a(href='#') Bonus Ανανέωσης
				li.submenu-item
					a(href='#') Ιστορικό Ανανέωσης
				li.submenu-item
					a(href='#') my CU Around
				li.submenu-item
					a(href='#') Παρε να'χεις
				li.submenu-item
					a(href='#') Παρε να'χεις
				li.submenu-item
					.action-button
						.text Ανανέωση Υπολοίπου
				li.submenu-item.last
					a(href='#') Αποσύνδεση


