.package-list.carousel(data-slides-to-show='3' data-slides-to-scroll='1' data-arrows='1' data-dots='1')
	.package-item
		.wrapper
			.top
				.title
					p Bla-bla -60 <span class='icon-arrow-head'/>
				ul.features
					li.plus <b>100 SMS</b> σε όλους
					li.plus <b>60MB Internet</b> προς CU
				.detail ενεργοποιόντας την <a href='#'>αυτόματη ανανέωση</a>
			.bottom
				.cost €3,02
				.action-button
					.text Ενεργοποίησέ το

	.package-item
		.wrapper
			.top
				.title
					p Bla-bla 60 <span class='icon-arrow-head'/>
					.notice-sticker
						p Πρασφορά πακέτο!
						p ισχύει έως 29/9
				ul.features
					li.plus <b>500 Λεπτά</b> προς CU
					li.plus <b>500 SMS ή MMS</b> προς CU
					li.plus <b>60MB Internet</b> προς CU
				.detail ενεργοποιόντας την <a href='#'>αυτόματη ανανέωση</a>
			.bottom
				.cost €3,02
				.action-button
					.text Ενεργοποίησέ το

	.package-item
		.wrapper
			.top
				.title
					p Bla-bla 160 <span class='icon-arrow-head'/>
					.notice-sticker
						p Πρασφορά μοναδικη!
				ul.features
					li.plus <b>500 Λεπτά</b> προς CU
					li.plus <b>100 Λεπτά</b> προς CU
					li.plus <b>60MB Internet</b> προς CU
				.detail ενεργοποιόντας την <a href='#'>αυτόματη ανανέωση</a>
			.bottom
				.cost €3,02
				.action-button
					.text Ενεργοποίησέ το

	.package-item
		.wrapper
			.top
				.title
					p Bla-bla 260 <span class='icon-arrow-head'/>
				ul.features
					li.plus <b>500 Λεπτά</b> προς CU
					li.plus <b>500 SMS ή MMS</b> προς CU
				.detail ενεργοποιόντας την <a href='#'>αυτόματη ανανέωση</a>
			.bottom
				.cost €3,02
				.action-button
					.text Ενεργοποίησέ το

	.package-item
		.wrapper
			.top
				.title
					p Bla-bla 360 <span class='icon-arrow-head'/>
					.notice-sticker
						p Πρασφορά πακέτο!
						p ισχύει έως 29/9
				ul.features
					li.plus <b>500 Λεπτά</b> προς CU
					li.plus <b>500 SMS ή MMS</b> προς CU
					li.plus <b>100 Λεπτά</b> προς CU
					li.plus <b>100 SMS</b> σε όλους
					li.plus <b>60MB Internet</b> προς CU
				.detail ενεργοποιόντας την <a href='#'>αυτόματη ανανέωση</a>
			.bottom
				.cost €3,02
				.action-button
					.text Ενεργοποίησέ το

