doctype html
html(lang="el").loged-in.show-offer-sidebar--
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		meta(property="og:title" content="Vodafone CU")
		meta(property="og:description" content="<description goes here>")
		meta(property="twitter:title" content="Vodafone CU")
		meta(property="twitter:description" content="<description goes here>")

			
		title Vodafone CU - Bundles

		//- link(href="img/fav_icon.png" rel="icon")

		link(href="css/tooltipster.bundle.min.css" rel="stylesheet")
		link(href="css/fonts.css" rel="stylesheet")
			
		link(href="css/slick.css" rel="stylesheet")
		//- link(href="css/owl.carousel.min.css" rel="stylesheet")

		link(href="css/styles.css" rel="stylesheet")
		link(href="css/responsive.css" rel="stylesheet")
		link(href="css/page-bundles.css" rel="stylesheet")

		//- include _ga

		script(src="js/device.min.js")
			
	body
		include _login-panel.jade
		//- #page.page-bundles
		include _header.jade

		//- include _login-section.jade

		#content.page-bundles

			include _header-carousel.jade
						

			include _user-info-dash-board.jade

			section#intro.page-middle-column
				.wrapper
					.title.h1 Πακέτα Καρτοκινητής
					.detail.
						Μίλα για όλα, γράψε ιστορία, μηδένισε τις αποστάσεις εντός κι εκτός συνόρων και κάνε <span class="underlined-title">RESTART</span>. Ό,τι κι αν θέλεις να κάνεις, σου το έχουμε "πακέτο". 
					.links
						//- a(href='#offers-section') Προσφορές
						a(href='#speech-section') Ομιλία
						a(href='#data-section') Data
						a(href='#sms-section') SMS
						a(href='#international-section') International


			.alternating-color-sections
				section#offers-section.page-middle-column
					.head-wrapper
						.title.underlined-title.h1 Προσφορές
						.detail Data για να σερφάρισμα στα βαθιά, με τα πακέτα mobile internet.
					include _package-list-DATA.jade

				section#speech-section.page-middle-column
					.head-wrapper
						.title.underlined-title.h1 Ομιλία
						.detail Βγάλ’ τα από μέσα σου με τα πακέτα Ομιλίας του CU.
					include _package-list-SPEECH.jade

				section#data-section.page-middle-column
					.head-wrapper
						.title.underlined-title.h1 Data
						.detail Data για να σερφάρισμα στα βαθιά, με τα πακέτα mobile internet.
					include _package-list-DATA.jade

				section#sms-section.page-middle-column
					.head-wrapper
						.title.underlined-title.h1 Sms
						.detail Γράψε εκεί που ξέρεις, όλα όσα θέλεις, με τα πακέτα SMS.
					include _package-list-SMS.jade

				section#international-section.page-middle-column
					.head-wrapper
						.title.underlined-title.size-xxl International
						.detail Άσ’ το να ξεφύγει εκτός συνόρων, με τα διεθνή πακέτα του CU!
					include _package-list-INTERNATIONAL.jade


			section#there-is-more
				.head-wrapper
					.title.h1 Έχει κι άλλα…
					.detail Τσέκαρε τι άλλο παίζει και δεν πρέπει να χάσεις.
				.article-box-carousel
					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head
									
					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head
									
					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head
									
					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head
									
					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head
									
					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head

					.article-box.category-red.layout-right-bottom

						.bg(style="background-image: url('img/article-img-1.jpg')")
						.fg
							.text-wrapper
								.category-title Υπηρεσίες CU
								.title Κατέβασέ το και μπες στη φάση του My CU App!
								.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
							.icon
							.action-button
								.text Μάθε περισσότερα
								.icon-arrow-head


			include _sidebar.jade





			include _footer.jade


