doctype html
html(lang="el").logged-in.open-sidebar-
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		meta(property="og:title" content="Vodafone CU")
		meta(property="og:description" content="<description goes here>")
		meta(property="twitter:title" content="Vodafone CU")
		meta(property="twitter:description" content="<description goes here>")

			
		title Vodafone CU 

		//- link(href="img/fav_icon.png" rel="icon")

		link(href="css/normalize.css" rel="stylesheet")
		link(href="css/tooltipster.bundle.min.css" rel="stylesheet")
		link(href="css/fonts.css" rel="stylesheet")
			
		link(href="css/slick.css" rel="stylesheet")
		//- link(href="css/owl.carousel.min.css" rel="stylesheet")

		link(href="css/styles.css" rel="stylesheet")
		link(href="css/responsive.css" rel="stylesheet")

		link(href="css/gallery.css" rel="stylesheet")
		link(href="css/responsive-gallery.css" rel="stylesheet")

		link(href="css/responsive-panels.css" rel="stylesheet")

		//- include _ga

		script(src="js/device.min.js")

		include _head_includes.jade
			
	body
		include _login-panel.jade
		//- #page.page-home
		include _header.jade

		#content

			include _header-carousel.jade
						

			include _user-info-dash-board.jade



			//- .article-box-row.page-middle-column
			.article-box-row

				.article-box.category-purple.layout-right-top.col
					
					.bg(style="background-image: url('img/article-img-1.jpg')")
					.fg
						.text-wrapper
							.category-title CU on Stage
							//- .title.ellipsis Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! 
							.title Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! Παίζεις σε μπάντα; Είσαι DJ και mixάρεις; Εδώ είσαι! 
							.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
						.icon
						.action-button
							.text Μάθε περισσότερα
							.icon-arrow-head


				.article-box.category-red.layout-right-bottom.col

					.bg(style="background-image: url('img/article-img-1.jpg')")
					.fg
						.text-wrapper
							.category-title Υπηρεσίες CU
							.title Κατέβασέ το και μπες στη φάση του My CU App!
							.detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
						.icon
						.action-button
							.text Μάθε περισσότερα
							.icon-arrow-head

			//- .article-box-row.page-middle-column
			.article-box-row

				.article-box.category-cyan.layout-left-top.col.fullwidth
					
					.bg
						.video-thumb(style="background-image: url('img/article-img-3.jpg')" data-youtube-id="xrzXIaTt99U"  )
							.video-button
					.fg
						.text-wrapper
							.category-title CU Around
							.title 1+1 Εισιτήριο Δώρο για να αποδράσεις με την παρέα σου από τα Adventure Rooms!
							//- .detail Πάρε μέρος στο CU ONSTAGE και διάλεξε εσύ τους καλλιτέχνες που θα παίξετε μαζί στη σκηνή!
						.icon
						.action-button
							.text Μάθε περισσότερα
							.icon-arrow-head


			include _tabbed-carousel-list-block.jade


			include _sidebar.jade






			include _footer.jade



