doctype html
html(lang="el").loged-in
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		meta(property="og:title" content="Vodafone CU")
		meta(property="og:description" content="<description goes here>")
		meta(property="twitter:title" content="Vodafone CU")
		meta(property="twitter:description" content="<description goes here>")

			
		title Vodafone CU 

		//- link(href="img/fav_icon.png" rel="icon")

		link(href="css/tooltipster.bundle.min.css" rel="stylesheet")
		link(href="css/fonts.css" rel="stylesheet")
			
		link(href="css/slick.css" rel="stylesheet")
		//- link(href="css/owl.carousel.min.css" rel="stylesheet")

		link(href="css/styles.css" rel="stylesheet")
		link(href="css/responsive.css" rel="stylesheet")
		link(href="css/topup.css" rel="stylesheet")
		link(href="css/responsive-topup.css" rel="stylesheet")
		link(href="css/responsive-panels.css" rel="stylesheet")

		//- include _ga

		script(src="js/device.min.js")
			
	body
		include _login-panel.jade

		include _header.jade

		//- #content.page-topup.mobile-layout
		#content.page-topup

			include _header-carousel.jade


			.breadcrumb
				a(href="#") Αρχική Σελίδα
				a(href="#") Υπηρεσίες CU
				a.active(href="#") Bonus Ανανέωσης

			//--------------------
			.expandable-offers.selected
				.boxes
					h1.main-title Online Ανανέωση
					.second-title Διάλεξε το ποσό που θέλεις και ανανέωσε τσακ-μπαμ!

					.columns
						.box.col
							.background
							.foreground
								a.panel-link.price-area(href='#panel-five')
									
									.icon-arrow-head.mobile-only

									.price 5
										span.euro-symbol &euro;
								
								#panel-five.panel.layer-1
									.nav-header.mobile-only
										.title Online Aνανέωση
										.back-button

									.panel-content
										.background
										.price-area

											.price 5
												span.euro-symbol &euro;

										form.payment-area(action="#" method="POST")
											
											.clip-wrap
												.wrapper

													.payment-method
														.title Τρόπος πληρωμής
														.radio
															input#creditcard_5(type="radio" name="payment")
															label(for="creditcard_5") Credit Card
														.radio
															input#oneclickpaypal_5(type="radio" name="payment")
															label(for="oneclickpaypal_5") OneClick Paypal
															.field.user-info
																input.email(type="email" value="johndoe@domain.com" disabled)
																a.change-email Αλλαγή
																.change-buttons
																	a.ok OK
																	a.cancel Ακυρο
														.radio
															input#paypal_5(type="radio" name="payment")
															label(for="paypal_5") Paypal

													.email-confirm
														.title E-mail επιβεβαίωσης
														.field.user-info
															input.email(type="email" value="johndoe@domain.com" disabled)
															a.change-email Αλλαγή
															.change-buttons
																	a.ok OK
																	a.cancel Ακυρο
													

											.buttons
												a.action-button.select
													.text
														| Επιλογή

												a.action-button.continue
													.text
														| Συνέχεια

												a.cancel
													| Ακύρωση

						.box.col.bonus
							.background
							.foreground
								a.panel-link.price-area(href='#panel-ten')
									p.title
										<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

									.icon-arrow-head
									
									.price 10
										span.euro-symbol &euro;
								
								#panel-ten.panel.layer-1
									.nav-header.mobile-only
										.title Online Aνανέωση
										.back-button

									.panel-content
										.background
										.price-area
											p.title
												<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

											.price 10
												span.euro-symbol &euro;

										form.payment-area(action="#" method="POST")
											
											.clip-wrap
												.wrapper

													.payment-method
														.title Τρόπος πληρωμής
														.radio
															input#creditcard_10(type="radio" name="payment")
															label(for="creditcard_10") Credit Card
														.radio
															input#oneclickpaypal_10(type="radio" name="payment")
															label(for="oneclickpaypal_10") OneClick Paypal
															.field.user-info
																input.email(type="email" value="johndoe@domain.com" disabled)
																a.change-email Αλλαγή
																.change-buttons
																	a.ok OK
																	a.cancel Ακυρο
														.radio
															input#paypal_10(type="radio" name="payment")
															label(for="paypal_10") Paypal

													.email-confirm
														.title E-mail επιβεβαίωσης
														.field.user-info
															input.email(type="email" value="johndoe@domain.com" disabled)
															a.change-email Αλλαγή
															.change-buttons
																a.ok OK
																a.cancel Ακυρο
													

											.buttons
												a.action-button.select
													.text
														| Επιλογή

												a.action-button.continue
													.text
														| Συνέχεια

												a.cancel
													| Ακύρωση

						.box.col.bonus
							.background
							.foreground
								a.panel-link.price-area(href='#panel-fifteen')
									p.title
										<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

									.icon-arrow-head
									
									.price 15
										span.euro-symbol &euro;

								#panel-fifteen.panel.layer-1
									.nav-header.mobile-only
										.title Online Aνανέωση
										.back-button

									.panel-content
										.background
										.price-area
											p.title
												<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

											.icon-arrow-head
											
											.price 15
												span.euro-symbol &euro;

										form.payment-area(action="#" method="POST")
											
											.clip-wrap
												.wrapper

													.payment-method
														.title Τρόπος πληρωμής
														.radio
															input#creditcard_15(type="radio" name="payment")
															label(for="creditcard_15") Credit Card
														.radio
															input#oneclickpaypal_15(type="radio" name="payment")
															label(for="oneclickpaypal_15") OneClick Paypal
															.field.user-info
																input.email(type="email" value="johndoe@domain.com" disabled)
																a.change-email Αλλαγή
																.change-buttons
																	a.ok OK
																	a.cancel Ακυρο
														.radio
															input#paypal_15(type="radio" name="payment")
															label(for="paypal_15") Paypal

													.email-confirm
														.title E-mail επιβεβαίωσης
														.field.user-info
															input.email(type="email" value="johndoe@domain.com" disabled)
															a.change-email Αλλαγή
															.change-buttons
																a.ok OK
																a.cancel Ακυρο
													

											.buttons
												a.action-button.select
													.text
														| Επιλογή

												a.action-button.continue
													.text
														| Συνέχεια

												a.cancel
													| Ακύρωση

						.box.col.bonus
							.background
							.foreground
								a.panel-link.price-area(href='#panel-twenty')
									p.title
										<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

									.icon-arrow-head.mobile-only
									
									.price 20
										span.euro-symbol &euro;


								#panel-twenty.panel.layer-1
									.nav-header.mobile-only
										.title Online Aνανέωση
										.back-button

									.panel-content
										.background
										.price-area

											p.title
												<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους
											
											.price 20
												span.euro-symbol &euro;

										form.payment-area(action="#" method="POST")
											
											.clip-wrap
												.wrapper

													.payment-method
														.title Τρόπος πληρωμής
														.radio
															input#creditcard_20(type="radio" name="payment")
															label(for="creditcard_20") Credit Card
														.radio
															input#oneclickpaypal_20(type="radio" name="payment")
															label(for="oneclickpaypal_20") OneClick Paypal
															.field.user-info
																input.email(type="email" value="johndoe@domain.com" disabled)
																a.change-email Αλλαγή
																.change-buttons
																	a.ok OK
																	a.cancel Ακυρο
														.radio
															input#paypal_20(type="radio" name="payment")
															label(for="paypal_20") Paypal

													.email-confirm
														.title E-mail επιβεβαίωσης
														.field.user-info
															input.email(type="email" value="johndoe@domain.com" disabled)
															a.change-email Αλλαγή
															.change-buttons
																a.ok OK
																a.cancel Ακυρο
													

											.buttons
												a.action-button.select
													.text
														| Επιλογή

												a.action-button.continue
													.text
														| Συνέχεια

												a.cancel
													| Ακύρωση
						.box.col.bonus
							.background
							.foreground
								a.panel-link.price-area(href='#panel-thirty')
									p.title
										<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

									.icon-arrow-head.mobile-only
									
									.price 30
										span.euro-symbol &euro;

								#panel-thirty.panel.layer-1
									.nav-header.mobile-only
										.title Online Aνανέωση
										.back-button

									.panel-content
										.background
										.price-area

											p.title
												<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους
											
											.price 30
												span.euro-symbol &euro;

										form.payment-area(action="#" method="POST")
											
											.clip-wrap
												.wrapper

													.payment-method
														.title Τρόπος πληρωμής
														.radio
															input#creditcard_30(type="radio" name="payment")
															label(for="creditcard_30") Credit Card
														.radio
															input#oneclickpaypal_30(type="radio" name="payment")
															label(for="oneclickpaypal_30") OneClick Paypal
															.field.user-info
																input.email(type="email" value="johndoe@domain.com" disabled)
																a.change-email Αλλαγή
																.change-buttons
																	a.ok OK
																	a.cancel Ακυρο
														.radio
															input#paypal_30(type="radio" name="payment")
															label(for="paypal_30") Paypal

													.email-confirm
														.title E-mail επιβεβαίωσης
														.field.user-info
															input.email(type="email" value="johndoe@domain.com" disabled)
															a.change-email Αλλαγή
															.change-buttons
																a.ok OK
																a.cancel Ακυρο
													

											.buttons
												a.action-button.select
													.text
														| Επιλογή

												a.action-button.continue
													.text
														| Συνέχεια

												a.cancel
													| Ακύρωση

				.subnotes
					<span class="red">*</span>Στο ποσό ανανέωσης συμπεριλαμβάνεται ΦΠΑ &amp; φόρος κινητής τηλεφωνίας

				//- #panel-five.panel.layer-1.mobile-only
				//- 	.nav-header
				//- 		.title Online Aνανέωση
				//- 		.back-button
					
				//- 	.content-wrapper
				//- 		.price-area
				//- 			p.title
				//- 				<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

				//- 			.icon-arrow-head
							
				//- 			.price 5
				//- 				span.euro-symbol &euro;

				//- 		.payment-area
				//- 			.clip-wrap
				//- 				.wrapper

				//- 					.payment-method
				//- 						.title Τρόπος πληρωμής
				//- 						.radio
				//- 							input#m_creditcard_5(type="radio",name="payment_5")
				//- 							label(for="m_creditcard_5") Credit Card
				//- 						.radio
				//- 							input#m_oneclickpaypal_30(type="radio",name="payment_5")
				//- 							label(for="m_oneclickpaypal_5") OneClick Paypal
				//- 							.user-info
				//- 								.email johndoe@domain.com
				//- 								a.change-email Αλλαγή
				//- 						.radio
				//- 							input#m_paypal_5(type="radio",name="payment_5")
				//- 							label(for="m_paypal_5") Paypal

				//- 					.email-confirm
				//- 						.title E-mail επιβεβαίωσης
				//- 						.user-info
				//- 							.email johndoe@domain.com
				//- 							a.change-email Αλλαγή
										

				//- 			.buttons
				//- 				a.action-button.continue
				//- 					.text
				//- 						| Συνέχεια

				//- 				a.cancel.back-button
				//- 					| Ακύρωση

				//- 			.subnotes
				//- 				<span class="red">*</span>Στο ποσό ανανέωσης συμπεριλαμβάνεται ΦΠΑ &amp; φόρος κινητής τηλεφωνίας


				//- #panel-ten.panel.layer-1.mobile-only
				//- 	.nav-header
				//- 		.title Online Aνανέωση
				//- 		.back-button
					
				//- 	.content-wrapper
				//- 		.price-area
				//- 			p.title
				//- 				<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

				//- 			.icon-arrow-head
							
				//- 			.price 10
				//- 				span.euro-symbol &euro;

				//- 		.payment-area
				//- 			.clip-wrap
				//- 				.wrapper

				//- 					.payment-method
				//- 						.title Τρόπος πληρωμής
				//- 						.radio
				//- 							input#m_creditcard_10(type="radio",name="payment_10")
				//- 							label(for="m_creditcard_10") Credit Card
				//- 						.radio
				//- 							input#m_oneclickpaypal_10(type="radio",name="payment_10")
				//- 							label(for="m_oneclickpaypal_10") OneClick Paypal
				//- 							.user-info
				//- 								.email johndoe@domain.com
				//- 								a.change-email Αλλαγή
				//- 						.radio
				//- 							input#m_paypal_10(type="radio",name="payment_10")
				//- 							label(for="m_paypal_10") Paypal

				//- 					.email-confirm
				//- 						.title E-mail επιβεβαίωσης
				//- 						.user-info
				//- 							.email johndoe@domain.com
				//- 							a.change-email Αλλαγή
				//- 			.buttons
				//- 				a.action-button.continue
				//- 					.text
				//- 						| Συνέχεια

				//- 				a.cancel.back-button
				//- 					| Ακύρωση

				//- 			.subnotes
				//- 				<span class="red">*</span>Στο ποσό ανανέωσης συμπεριλαμβάνεται ΦΠΑ &amp; φόρος κινητής τηλεφωνίας

				//- #panel-fifteen.panel.layer-1.mobile-only
				//- 	.nav-header
				//- 		.title Online Aνανέωση
				//- 		.back-button
					
				//- 	.content-wrapper
				//- 		.price-area
				//- 			p.title
				//- 				<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

				//- 			.icon-arrow-head
							
				//- 			.price 15
				//- 				span.euro-symbol &euro;

				//- 		.payment-area
				//- 			.clip-wrap
				//- 				.wrapper

				//- 					.payment-method
				//- 						.title Τρόπος πληρωμής
				//- 						.radio
				//- 							input#m_creditcard_15(type="radio",name="payment_15")
				//- 							label(for="m_creditcard_15") Credit Card
				//- 						.radio
				//- 							input#m_oneclickpaypal_15(type="radio",name="payment_15")
				//- 							label(for="m_oneclickpaypal_15") OneClick Paypal
				//- 							.user-info
				//- 								.email johndoe@domain.com
				//- 								a.change-email Αλλαγή
				//- 						.radio
				//- 							input#m_paypal_15(type="radio",name="payment_15")
				//- 							label(for="m_paypal_15") Paypal

				//- 					.email-confirm
				//- 						.title E-mail επιβεβαίωσης
				//- 						.user-info
				//- 							.email johndoe@domain.com
				//- 							a.change-email Αλλαγή
				//- 			.buttons
				//- 				a.action-button.continue
				//- 					.text
				//- 						| Συνέχεια

				//- 				a.cancel.back-button
				//- 					| Ακύρωση

				//- 			.subnotes
				//- 				<span class="red">*</span>Στο ποσό ανανέωσης συμπεριλαμβάνεται ΦΠΑ &amp; φόρος κινητής τηλεφωνίας

				//- #panel-twenty.panel.layer-1.mobile-only
				//- 	.nav-header
				//- 		.title Online Aνανέωση
				//- 		.back-button
					
				//- 	.content-wrapper
				//- 		.price-area
				//- 			p.title
				//- 				<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

				//- 			.icon-arrow-head
							
				//- 			.price 20
				//- 				span.euro-symbol &euro;

				//- 		.payment-area
				//- 			.clip-wrap
				//- 				.wrapper

				//- 					.payment-method
				//- 						.title Τρόπος πληρωμής
				//- 						.radio
				//- 							input#m_creditcard_20(type="radio",name="payment_20")
				//- 							label(for="m_creditcard_20") Credit Card
				//- 						.radio
				//- 							input#m_oneclickpaypal_20(type="radio",name="payment_20")
				//- 							label(for="m_oneclickpaypal_20") OneClick Paypal
				//- 							.user-info
				//- 								.email johndoe@domain.com
				//- 								a.change-email Αλλαγή
				//- 						.radio
				//- 							input#m_paypal_20(type="radio",name="payment_20")
				//- 							label(for="m_paypal_20") Paypal

				//- 					.email-confirm
				//- 						.title E-mail επιβεβαίωσης
				//- 						.user-info
				//- 							.email johndoe@domain.com
				//- 							a.change-email Αλλαγή
				//- 			.buttons
				//- 				a.action-button.continue
				//- 					.text
				//- 						| Συνέχεια

				//- 				a.cancel.back-button
				//- 					| Ακύρωση

				//- 			.subnotes
				//- 				<span class="red">*</span>Στο ποσό ανανέωσης συμπεριλαμβάνεται ΦΠΑ &amp; φόρος κινητής τηλεφωνίας

				//- #panel-thirty.panel.layer-1.mobile-only
					.nav-header
						.title Online Aνανέωση
						.back-button
					
					.content-wrapper
						.price-area
							p.title
								<strong>Bonus Ανανέωσης<br>500MB</strong> ή <strong>100'</strong> προς όλους

							.icon-arrow-head
							
							.price 30
								span.euro-symbol &euro;

						.payment-area
							.clip-wrap
								.wrapper

									.payment-method
										.title Τρόπος πληρωμής
										.radio
											input#m_creditcard_30(type="radio",name="payment_30")
											label(for="m_creditcard_30") Credit Card
										.radio
											input#m_oneclickpaypal_30(type="radio",name="payment_30")
											label(for="m_oneclickpaypal_30") OneClick Paypal
											.user-info
												.email johndoe@domain.com
												a.change-email Αλλαγή
										.radio
											input#m_paypal_30(type="radio",name="payment_30")
											label(for="m_paypal_30") Paypal

									.email-confirm
										.title E-mail επιβεβαίωσης
										.user-info
											.email johndoe@domain.com
											a.change-email Αλλαγή
							.buttons
								a.action-button.continue
									.text
										| Συνέχεια

								a.cancel.back-button
									| Ακύρωση

							.subnotes
								<span class="red">*</span>Στο ποσό ανανέωσης συμπεριλαμβάνεται ΦΠΑ &amp; φόρος κινητής τηλεφωνίας

			//- #notes-terms.accordion.desktop-only
			#notes-terms.accordion
				
				.accordion-item.active
					a.panel-link(href='#note-1')
						.title
							.icon-arrow-head
							| Ψιλά Γράμματα

					#note-1.panel.layer-1
						.nav-header.mobile-only
							.title Online Aνανέωση
							.back-button

						.panel-content
							ul
								li Συμβατές κάρτες: <strong>VISA, MasterCard, AMEX, Visa Electron, Maestro.</strong>
								li Προτεραιότητα στην κατανάλωση έχουν τα ΜΒ που λήγουν πρώτα. Μετά την κατανάλωση του Bonus και αν δεν υπάρχουν άλλα διαθέσιμα MB, ενεργοποιείται η υπηρεσία Internet όλη μέρα.
								li Ενημερώσου για τα διαθέσιμα ΜΒ στο <strong>My CU Account, My CU app</strong> , ή με δωρεάν κλήση στο <strong>1252</strong>.
								li Το Bonus δεν ισχύει για χρήση στο εξωτερικό.

				.accordion-item
					a.panel-link(href='#note-2')
						.title
							.icon-arrow-head
							| Όροι χρήσης Online Ανανέωσης Xρόνου Oμιλίας

					#note-2.panel.layer-1
						.nav-header.mobile-only
							.title Online Aνανέωση
							.back-button

						.panel-content
							//- .paragraph
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi ex, sollicitudin in purus et, tempus tempor sem. Sed vitae nulla dignissim, mollis leo cursus, scelerisque lacus. Donec ultricies turpis odio, non elementum libero pharetra eget. Praesent non sollicitudin tellus. Aenean lectus purus, sodales nec eros quis, dignissim eleifend tellus. Nulla dapibus, sapien vitae rhoncus elementum, neque libero pellentesque augue, et dignissim elit sem et leo. Nullam fringilla venenatis sodales. Phasellus accumsan libero non lorem cursus condimentum. Vivamus nec maximus dolor, a interdum neque. Integer condimentum posuere sem a sollicitudin. Phasellus faucibus bibendum hendrerit. Morbi ac eros et massa porttitor aliquet. Proin pulvinar massa efficitur accumsan porta. Suspendisse eu fringilla dui, ut eleifend ipsum. Quisque nec luctus quam.
								br
								| Integer tincidunt in sem et iaculis. Fusce at lectus mauris. Etiam vel lectus tincidunt, imperdiet velit eu, ornare turpis. Vivamus quis neque congue, hendrerit nisl nec, ornare lectus. Etiam ut nisi non dolor feugiat hendrerit et a sapien. Donec ultricies diam a erat aliquet, quis rhoncus leo porttitor. Etiam tempus, arcu vitae aliquet cursus, justo nisl cursus justo, at hendrerit est purus luctus erat. Curabitur lacus dolor, tempor nec urna quis, pulvinar lacinia risus. Integer interdum sem nec erat convallis semper. Mauris non dolor purus. Vestibulum vehicula eget ante in efficitur.

			//- #note-terms-mobile.mobile-only
			//- 	.accordion-item.panel-link(href="#panel-option")
			//- 		.title
			//- 			.icon-arrow-head
			//- 			| Ψιλά Γράμματα

			//- 	.accordion-item.option-last.panel-link(href="#panel-option-2")
			//- 		.title
			//- 			.icon-arrow-head
			//- 			| Όροι χρήσης Online Ανανέωσης


			//- 	#panel-option.panel.layer-1
			//- 		.nav-header
			//- 			.title Ψιλά Γράμματα
			//- 			.back-button
					
			//- 		.content-wrapper
			//- 			.option-content
			//- 				.list
			//- 					ul
			//- 						li Συμβατές κάρτες: <strong>VISA, MasterCard, AMEX, Visa Electron, Maestro.</strong>
			//- 						li Προτεραιότητα στην κατανάλωση έχουν τα ΜΒ που λήγουν πρώτα. Μετά την κατανάλωση του Bonus και αν δεν υπάρχουν άλλα διαθέσιμα MB, ενεργοποιείται η υπηρεσία Internet όλη μέρα.
			//- 						li Ενημερώσου για τα διαθέσιμα ΜΒ στο <strong>My CU Account, My CU app</strong> , ή με δωρεάν κλήση στο <strong>1252</strong>.
			//- 						li Το Bonus δεν ισχύει για χρήση στο εξωτερικό.
			//- 						li Συμβατές κάρτες: <strong>VISA, MasterCard, AMEX, Visa Electron, Maestro.</strong>
			//- 						li Προτεραιότητα στην κατανάλωση έχουν τα ΜΒ που λήγουν πρώτα. Μετά την κατανάλωση του Bonus και αν δεν υπάρχουν άλλα διαθέσιμα MB, ενεργοποιείται η υπηρεσία Internet όλη μέρα.
			//- 						li Ενημερώσου για τα διαθέσιμα ΜΒ στο <strong>My CU Account, My CU app</strong> , ή με δωρεάν κλήση στο <strong>1252</strong>.
			//- 						li Το Bonus δεν ισχύει για χρήση στο εξωτερικό.
			//- 						li Συμβατές κάρτες: <strong>VISA, MasterCard, AMEX, Visa Electron, Maestro.</strong>
			//- 						li Προτεραιότητα στην κατανάλωση έχουν τα ΜΒ που λήγουν πρώτα. Μετά την κατανάλωση του Bonus και αν δεν υπάρχουν άλλα διαθέσιμα MB, ενεργοποιείται η υπηρεσία Internet όλη μέρα.
			//- 						li Ενημερώσου για τα διαθέσιμα ΜΒ στο <strong>My CU Account, My CU app</strong> , ή με δωρεάν κλήση στο <strong>1252</strong>.
			//- 						li Το Bonus δεν ισχύει για χρήση στο εξωτερικό.


			//- 	#panel-option-2.panel.layer-1
			//- 		.nav-header
			//- 			.title Όροι χρήσης
			//- 			.back-button
					
			//- 		.content-wrapper
			//- 			.option-content
			//- 				.paragraph
			//- 					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi ex, sollicitudin in purus et, tempus tempor sem. Sed vitae nulla dignissim, mollis leo cursus, scelerisque lacus. Donec ultricies turpis odio, non elementum libero pharetra eget. Praesent non sollicitudin tellus. Aenean lectus purus, sodales nec eros quis, dignissim eleifend tellus. Nulla dapibus, sapien vitae rhoncus elementum, neque libero pellentesque augue, et dignissim elit sem et leo. Nullam fringilla venenatis sodales. Phasellus accumsan libero non lorem cursus condimentum. Vivamus nec maximus dolor, a interdum neque. Integer condimentum posuere sem a sollicitudin. Phasellus faucibus bibendum hendrerit. Morbi ac eros et massa porttitor aliquet. Proin pulvinar massa efficitur accumsan porta. Suspendisse eu fringilla dui, ut eleifend ipsum. Quisque nec luctus quam. <br><br> 11111111Integer tincidunt in sem et iaculis. Fusce at lectus mauris. Etiam vel lectus tincidunt, imperdiet velit eu, ornare turpis. Vivamus quis neque congue, hendrerit nisl nec, ornare lectus. Etiam ut nisi non dolor feugiat hendrerit et a sapien. Donec ultricies diam a erat aliquet, quis rhoncus leo porttitor. Etiam tempus, arcu vitae aliquet cursus, justo nisl cursus justo, at hendrerit est purus luctus erat. Curabitur lacus dolor, tempor nec urna quis, pulvinar lacinia risus. Integer interdum sem nec erat convallis semper. Mauris non dolor purus. Vestibulum vehicula eget ante in efficitur.



		include _sidebar.jade

		include _footer.jade

	script(src="js/dashboard-page.js")
	script(src="js/topup-page.js")

