doctype html
html(lang="el").loged-in.show-offer-sidebar--
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		meta(property="og:title" content="Vodafone CU")
		meta(property="og:description" content="<description goes here>")
		meta(property="twitter:title" content="Vodafone CU")
		meta(property="twitter:description" content="<description goes here>")

			
		title Vodafone CU 

		//- link(href="img/fav_icon.png" rel="icon")

		link(href="css/tooltipster.bundle.min.css" rel="stylesheet")
		link(href="css/fonts.css" rel="stylesheet")
			
		link(href="css/slick.css" rel="stylesheet")
		//- link(href="css/owl.carousel.min.css" rel="stylesheet")

		link(href="css/styles.css" rel="stylesheet")
		link(href="css/responsive.css" rel="stylesheet")
		link(href="css/topup-thankyou.css" rel="stylesheet")
		link(href="css/responsive-topup-thankyou.css" rel="stylesheet")
		link(href="css/responsive-panels.css" rel="stylesheet")

		//- include _ga

		script(src="js/device.min.js")
			
	body
		include _login-panel.jade

		include _header.jade

		#content.page-topup-thankyou

			include _header-carousel.jade


			//--------------------
			section.thank-you-section
				.title Σ’ευχαριστούμε!
				.subtext H Online Ανανέωσή σου ολοκληρώθηκε με επιτυχία.
				
				.divider

				.subtext
					| Το νέο σου υπόλοιπο είναι 
					span.red €11,04

				.links
					a(href="#") Δες περισσότερα στο <strong>ΜyCU</strong>   
					span  ή 
					a(href="#") Κάνε άλλη Online Aνανέωση
			
				.next-step-area.columns
					.left.col
						.title Τώρα μπορείς να ενεργοποιήσεις το αγαπημένο σου πακέτο
						a(href="#") Δες όλα τα πακέτα Καρτοκινητής
					.right.col
						.package-list
							.package-item
								.wrapper
									.top
										.title
											p Surf &amp; Email 60 <span class='icon-arrow-head'/>
											.notice-sticker
												p Πρασφορά πακέτο!
												p ισχύει έως 29/9
										ul.features
											li.plus <b>500 Λεπτά</b> προς CU
											li.plus <b>500 SMS ή MMS</b> προς CU
											li.plus <b>100 Λεπτά</b> προς CU
											li.plus <b>100 SMS</b> σε όλους
											li.plus <b>60MB Internet</b> προς CU
										.detail ενεργοποιόντας την <a href='#'>αυτόματη ανανέωση</a>
									.bottom
										.cost €3,02
										.action-button
											.text Ενεργοποίησέ το



		include _sidebar.jade

		include _footer.jade



	script(src="js/dashboard-page.js")